.filter {
  outline: none;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: inherit;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    border-color: rgba(175, 47, 47, 0.1);
    cursor: pointer;
  }

  &.active {
    border-color: rgba(175, 47, 47, 0.2);
  }
}